#app {
	width: 1000px;
	margin: auto;
	margin-top: 30px;
	/* border: 1px solid black;
	border-radius: 5px; */
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

form {
	display: flex;
	gap: 5px;
}

.container {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.btn-submit {
	color: white;
	background-color: #4682b4;
	border: 0;
	border-radius: 2.5px;
}
